<div class="col-sm-10 col-md-10 col-xs-12" style="height: 100%; ">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Purchase</h3>
        </div>
          <div class="panel-body" style="height: 100%; ">
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-danger">
                <div class="panel-heading">
                  <h3 class="panel-title">Order Information</h3>
                </div>
                <div class="panel-body">
                  <div >
                
                <div class="form-group ">
                  <label class="control-label" name"Purchase#">Purchase Order #</label>
                  <input class="form-control" id="Purchase#" type="text" value="16-420"/>
                </div>
               <!-- -->
                
               <!-- -->
                </div>
                       
                  
                    
                  </div>
                </div>
              </div>
             <div class="col-md-6">
                          <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Supplier Information</h3>
                </div>
                <div class="panel-body">
                  <div class="col-md-10 col-md-offset-2 col-xs-12">
                  <div class="form-group col-md-8">
                <label for="Supplier">Supplier:</label>
                <select class="form-control" id="Supplier">
                  <option>Choose Supplier</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
            </div>
                <!-- add-->
                 <div class="col-md-8">
            <a class="btn btn-primary center-block" data-toggle="modal" data-target="#mymodal">Add Supplier</a>
              <div class="modal fade" id="mymodal" tabIndex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h1 style="text-align: center;">Add New Supplier</h1>
                    </div>
                    <div class="modal-body">
                      <div class="container-fluid">
                     
                      <form class="form-horizontal" role="form">
                        <div class="form-group">
                          <label class="control-label">Account #:</label>
                       
                            <p class="form-control-static">A63NTX44</p><!--Customerid-->
                         
                        </div>
                        <div class="form-group">
                          <label class="control-label  ">Company Name:</label>
                          <div class="">          
                            <input type="text" class="form-control">
                          </div>
                        </div>
                          <div class="form-group">
                            <label class="control-label">Company Location:</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="form-group">
                            <label class="control-label">Contact Person:</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="form-group">
                            <label class="control-label">Contact Number</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="form-group">
                            <label class="control-label">Email Address</label>
                            <input type="text" class="form-control">
                          </div>

                        
                      </form>
            </div>

    </div>
   
                    <div class="modal-footer">
                      <div class="form-group">        
                          <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Submit</button>
                          </div>
                        </div>
                    </div>
                    
                  </div>
                </div>
              </div>
          </div>
                          <!-- add customer-->
                          <!--Currency-->
                    
                  </div>
                </div>
              </div>
              </div>
                        
                        </div>
                        <!-- Table addrow -->

                     <div class="container-fluid col-md-12">
    <div class="row clearfix">
    <div class="col-md-12 table-responsive column">
      <table class="table table-bordered table-hover table-condensed" id="tab_logic">
        <thead>
          <tr >
            <th class="text-center">
              No.
            </th>
            <th class="text-center">
              Item Description
            </th>
            <th class="text-center">
             Qty
            </th>
            <th class="text-center">
              Unit
            </th>
            <th class="text-center">
              Unit Price
            </th>
            <th class="text-center">Total Price</th>
          </tr>
        </thead>
        <tbody>
          <tr id='addr0'>
            <td>
            1
            </td>
            <td>
            <input type="text" name='item_des0'  placeholder='Item Description' class="form-control"/>
            </td>
            <td>
            <input id ="box1"type="number" name='Qty0' placeholder='Qty' class="form-control" oninput="calculate()" />
            </td>
            <td>
            <input type="text" name='Unit0' placeholder='Unit' class="form-control"/>
            </td>
            <td>
              <input id="box2" type="text"  name='Unitprice0' placeholder='Unit Price' class="form-control" oninput="calculate()"/>
            </td>
            <td>
           <input id="result" type="text" name="Totalprice0" class="form-control" />

            </td>
            <td>
            
            </td>
          </tr>
                    <tr id='addr1'></tr>
        </tbody>
      </table>
    </div>
  </div>
   <a id="add_row" class="btn btn-primary pull-left">Add Row</a><a id='delete_row' class="pull-right btn btn-danger">Delete Row</a>
 </div>
</div>
                        <!-- End Table addrow -->
                        
                       <div class="panel-footer">
              
                        <%= link_to "Back",orders_path,class:"btn btn-info center"%>
                        <a class="btn btn-success" href="#">Save</a>
                      </div>
              </div>
             
          </div>
           
      </div>
    </div>
          
         </div>
      </div>
    </div>
  </div>
</div>