*.log
gerbag_poms/tmp/cache/assets/development/sprockets/13fe41fee1fe35b49d145bcc06610705
*.pid
gerbag_poms/tmp/cache/assets/development/sprockets/fb52a7e05ba74970025e527690ad023e
gerbag_poms/tmp/cache/assets/development/sprockets/25b1810a532597d77d7c4fcaf6a055af
gerbag_poms/tmp/cache/assets/development/sprockets/6f782e0569206792ffdca1a8ef4c7daa
gerbag_poms/tmp/cache/assets/development/sprockets/357970feca3ac29060c1e3861e2c0953
gerbag_poms/tmp/cache/assets/development/sprockets/d771ace226fc8215a3572e0aa35bb0d6
gerbag_poms/tmp/cache/assets/development/sprockets/d24790e8fdadc8cc335aa220cdc8d914