html, body {
  height: 100%;
}
body { padding-top: 100px; }
#logo{
  height: 100px;
}
.panel-body {
    padding: 15px;
}
.jumbotron{
  color: white;
  background: green;

}
a:active{
	color: red;
}
table.dataTable.select tbody tr,
table.dataTable thead th:first-child {
  cursor: pointer;
}
