
<div class="col-sm-10 col-md-10 col-xs-12" style="height: 100%; ">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Quotation</h3>
        </div>
          <div class="panel-body" style="height: 100%; ">
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-danger">
                <div class="panel-heading">
                  <h3 class="panel-title">Rquest For Quotation</h3>
                </div>
                <div class="panel-body">
                  <div >
                
                <div class="form-group ">
                  <label class="control-label" name"Quotation#">RFQ #</label>
                <%if Quotationsupplier.last != nil%>
                 <div>16-<%= Quotationsupplier.last + 1%></div>
                <%else%>
                <div>16-001</div>
                <%end%>
                </div>
               <!-- -->
                
               <!-- -->
                </div>
                       
                 
                    
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                          <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Supplier's Information</h3>
                </div>
                <div class="panel-body">
                  <div class="col-md-10 col-md-offset-2 col-xs-12">
                  <div class="form-group col-md-8">
                    
                <label for="Customer">Supplier:</label>
                <%=select("post", "SupplierID", Supplier.all.collect {|p| [ p.SupplierName, p.SupplierID ] }, {prompt: 'Select Supplier'},class:"form-control")%>
            </div>
                <!-- add-->
                 <div class="col-md-8">
            <a class="btn btn-primary center-block" data-toggle="modal" data-target="#mymodal">Add Supplier</a>
              <div class="modal fade" id="mymodal" tabIndex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h1 style="text-align: center;">Add New Supplier</h1>
                    </div>
                    <div class="modal-body">
                      <div class="container-fluid">
                     
                      <form class="form-horizontal" role="form">
                        <div class="form-group">
                          <label class="control-label">Account #:</label>
                       
                            <p class="form-control-static">A63NTX44</p><!--Customerid-->
                         
                        </div>
                        <div class="form-group">
                          <label class="control-label  ">Company Name:</label>
                          <div class="">          
                            <input type="text" class="form-control">
                          </div>
                        </div>
                          <div class="form-group">
                            <label class="control-label">Company Location:</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="form-group">
                            <label class="control-label">Contact Person:</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="form-group">
                            <label class="control-label">Contact Number</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="form-group">
                            <label class="control-label">Email Address</label>
                            <input type="text" class="form-control">
                          </div>

                        
                      </form>
            </div>

    </div>
   
                    <div class="modal-footer">
                      <div class="form-group">        
                          <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Submit</button>
                          </div>
                        </div>
                    </div>
                    
                  </div>
                </div>
              </div>
          </div>
                          <!-- add customer-->
                          <!--Currency-->
                    
                  </div>
                </div>
              </div>
              </div>
            </div>
                        
                        </div>
                        <!-- Table addrow -->

                     <div class="container-fluid col-md-12">
    <div class="row clearfix">
    <div class="col-md-12 table-responsive column">

       
      <table class="table table-bordered table-hover table-condensed" id="tab_logic">

        <thead>

          <tr >
            <th class="text-center">
              No.
            </th>
            <th class="text-center">
              Item Description
            </th>
            <th class="text-center">
             Qty
            </th>
            <th class="text-center">
              Unit
            </th>
            <th class="text-center">
              Unit Price
            </th>
            <th class="text-center">Total Price</th>
          </tr>
        </thead>
        
        <tbody>
          <tr >
            <td>
            1
            </td>
            <td>
            <input type="text" name='item_des0'  placeholder='Item Description' class="form-control"/>
           
            
            </td>
            <td>
            <input type="number" name='Qty0' placeholder='Qty' class="form-control"/>
            </td>
            <td>
            <input type="text" name='Unit0' placeholder='Unit' class="form-control"/>
            </td>
            <td>
              <input type="text"  name='Unitprice0' placeholder='Unit Price' class="form-control"/>
            </td>
            <td>
            
            </td>
          </tr>
                    <tr></tr>
        </tbody>
         
      </table>

    </div>

  </div>
  <a id="add_row" class="btn btn-primary pull-left">Add Row</a><a id='delete_row' class="pull-right btn btn-danger">Delete Row</a>
</div>
                        <!-- End Table addrow -->
                        <div class="container-fluid">
                       <div class="form-group" style="padding-top 5px;">
                          <label for="comment">Supplier visible notes</label>
                          <textarea class="form-control" rows="5" id="comment"></textarea>
                      </div>
                      </div>
                       <div class="panel-footer">
             
                        <%= link_to "Back",quotationsuppliers_path, class:"btn btn-info center"%>
                        <a class="btn btn-success" href="Quotationmain.html">Save</a>
                        
 
                      </div>
              </div>
             
          </div>
            
      </div>
    </div>


