<!DOCTYPE html>
<html>
	<head>Customer's List</head>
	<body>
		<table>
			<tr>
				<td>Company Name</tr>
				<td>Contact Person</tr>
			</tr>
			<% if Customer.all.each do |customer| %>
			<tr>
				<td style="border-radius:10px"><%= customer.CustomerName %></td>
				<td><%= customer.ContactPerson %></td>
			</tr>
			<% end %>
			<% end %>
		</table>
	</body>
</html>